interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cdot.cc/transcript/NM_000051.3
  response:
    body:
      string: '{"biotype": ["protein_coding"], "gene_name": "ATM", "gene_version":
        "472", "genome_builds": {"GRCh37": {"cds_end": 108236235, "cds_start": 108098351,
        "contig": "NC_000011.9", "exons": [[108093558, 108093913, 0, 1, 355, null],
        [108098321, 108098423, 1, 356, 457, null], [108098502, 108098615, 2, 458,
        570, null], [108099904, 108100050, 3, 571, 716, null], [108106396, 108106561,
        4, 717, 881, null], [108114679, 108114845, 5, 882, 1047, null], [108115514,
        108115753, 6, 1048, 1286, null], [108117690, 108117854, 7, 1287, 1450, null],
        [108119659, 108119829, 8, 1451, 1620, null], [108121427, 108121799, 9, 1621,
        1992, null], [108122563, 1[...]
